---
title: 'Journal Entry 10: Social Skills'
date: '2025-10-28'
layout: article
---

As with any job, social skills are necessary in being successful in the field. Cybersecurity analysts rely heavily on their social skills to advance their careers. In the video, the creator emphasizes the importance of your personal brand. While we hate to admit it, how you look on paper is very important to determining your public image. Your resume is often the only thing an employer sees when you submit your application, so you must leverage all cultural and social nuances to advance your career in cybersecurity. The creator of the video emphasizes the importance of networking and gaining experience, suggesting that those interested in advancing their careers should volunteer for non-profit organizations to gain professional standing. Furthermore she emphasizes the importance of networking tools like Meetup.com to get involved with the community. Overall, the speaker does a great job outlining key points of advice that must be followed to make it in the field of cybersecurity.