:root {
    --background-color: #f8f9fa;
    --text-color: #333;
    --primary-color: #e36209; /* Consolidated theme color */
    --header-background-color: #2b2b2b;
    --header-text-color: #fff;
    --about-me-background-color: #fff;
    --about-me-text-color: #333;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --navbar-background-color: #333;
    --navbar-text-color: #fff;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    padding: 30px 0; /* Adjusted padding to create equal space */
    text-align: center;
    border-bottom: 4px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    margin-bottom: 10px; /* Reduced margin to balance space */
}

header nav {
    background-color: var(--navbar-background-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    margin-top: 10px; /* Reduced margin to balance space */
}

header nav a {
    color: var(--navbar-text-color);
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

a:hover {
    color: var(--primary-color); /* Set hover color to theme color */
}

main {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.about-me {
    background-color: var(--about-me-background-color);
    padding: 30px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 15px var(--box-shadow-color);
}

.about-me img {
    max-width: 150px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}

.about-me h2 {
    margin-top: 0;
    color: var(--primary-color); /* Updated to use consolidated theme color */
}

.about-me p {
    line-height: 1.8;
    font-size: 1.1em;
    color: var(--about-me-text-color);
}
